{% extends 'base.html' %}

{% block content %}

<div class='profile'>

      <div class="profile-container">
        <div class="left-side col col-3">
          <div class="credentials">
            <h1>Personal Credentials</h1>
            <p><strong> Name: {{user_profile.name}} </strong></p>
            <p><strong> Age: {{user_profile.date_of_birth | timesince}} </strong></p>
            <p><strong> Gender: {{user_profile.gender}} </strong></p>
            <p><strong> Location: {{user_profile.location}} </strong></p>
          </div><br>
          <div class="bios">
            <h1>Bio</h1>
            {% if not user_profile.bio %}
            {% else %}
            <p><strong>{{user_profile.bio}}</strong></p>
            {% endif %}
          </div><br><br>
        
        <div>
              <!--Appointment Loop-->
          <!-- pannel-->
          {% if not request.user.is_superuser %}
          {% if appointments.count > 0 %}
          <div class="mt-5">
            <h1 class="ms-5">Appointments</h1>
            <div class="shadow p-4 mb-3 bg-body bg-body rounded text-black m-5">
              {% for appointment in appointments %}
              <div class="list-group fs-4 border p-3 mb-3">
                <p class="list-group mt-2"> <strong> id: {{ appointment.id }}</strong></p>
                <p class="list-group mt-2"> <strong> Day: {{ appointment.day }}</strong></p>
                <p class="list-group mt-2"><strong>Time: {{ appointment.time }}</strong> </p>
                <p class="list-group mt-2"> <strong> Service: {{ appointment.service }}</strong></p>
                <div style="margin-bottom :20px">
                  <a
                    style="color: tomato; margin-bottom :20px"
                    href="{% url 'userUpdate' appointment.id %}"
                    >Edit Appointment</a
                  >
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endif %}
        
        </div>
        </div>
        <div class="right-side col col-9">
          <div class="image">
            <img src="{{user_profile.avatar.url}}" alt="" />
          </div>
          {% if not user_profile.profession %}
          {% else %}
          <p>I am a {{user_profile.profession}}</p>
          {% endif %}
            
          <div class="edit-btn">
            {% if request.user.username == user_profile.username or request.user.is_superuser %}
            <a href="{% url 'settings' user_profile.username %}">
              <i class="fa fa-edit"></i>
            </a>
            <a href="{% url 'create-post' %}">
              <i class="fa fa-pen"></i>
            </a>
            {% endif %}
              {% if request.user.is_superuser %}
            <a href="{% url 'contact' %}">
              <i class="fa fa-reply"></i>
            </a>
            <a href="{% url 'send-newsletter' %}"><i class="fa fa-book"></i></a>
            {% endif %}
          </div>
        
          {% comment %} new {% endcomment %}
          <div>
          
          </div>
          {% comment %} new end {% endcomment %}
        </div>
      </div> 
  
  
  <div class='staff-pannel'>
      
    {% if request.user.is_staff %}
  
    <div>
        <h3 >Staff Panel</h3>
        <form action="">
        <input class="form-control" id="myInput" style="" type="search" placeholder="Search Appointment" name=q>
        <input type="submit" value="Search">
        </form>
    
        <div class="table-responsive">

          <table>
            <a href="{% url 'profile' user_profile.username %}" ><p style="text-align:right; padding-right: 5%">Reset</p></a>
              <thead>
                <tr>
                  <th class="text-center" scope="col">S/N</th>
                  <th class="text-center" scope="col">Time</th>
                  <th class="text-center" scope="col">First Name</th>
                  <th class="text-center" scope="col">Last Name</th>
                  <th class="text-center" scope="col">Service</th>
                  <th class="text-center" scope="col">Date</th>
                </tr>
              </thead>
              <tbody id="myTable">
                  {% for item in items %}
                <tr>
                  <td class="text-center">{{item.id}}</td>
                  <td class="text-center">{{item.time}}</td>
                  <td class="text-center">{{item.name.first_name}}</td>
                  <td class="text-center">{{item.name.last_name}}</td>
                  <td class="text-center">{{item.service}}</td>
                  <td class="text-center">{{item.day}}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        
    </div>
    
    {% endif %}
  </div>
  
      {% if not user_profile.comment_set.all %}
      <h1 style="text-align: center;">No Conversations</h1>
      {% else %}
      <h1 style="text-align: center;">Your Conversations</h1>
      {% for comments in user_profile.comment_set.all %}
  
      <div class="profile-conversation">
      
        <div class="conversation-comment">
          <h4>Received: </h2>
            <a href="{% url 'post' comments.post.id %}">
              <h3>Post: {{comments.post.topic.title}}</h3>
            </a>
          <p><strong><a href="{% url 'profile' comments.sender.username %}">@{{comments.sender.username}}</a></strong> : {{comments.body}}</p>
       </div>
      
       
        <div class="conversation-replies">
          {% for replies in comments.commentreply_set.all %}
          <h4>Sent: {{replies.created_at | timesince}} ago</h4>
          <p><strong>@{{replies.replier.username}}</strong> : {{replies.body}}</p>
          {% endfor %}
        </div>
      
      </div>
      {% endfor %}
    
      {% endif %}
    
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>


 {% endblock content %}
