{% extends 'base.html' %}

{% block content %}


    <div class="newsletter">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Send Newsletter</h3>
                    {% for field in form %}
                    {{field.errors}}
                    <label for="">{{field.label_tag}}</label>
                    {{field}}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {% endfor %}
                    <input type="submit" value="Send Letter">
        </form>
    </div>


{% endblock content %}