{% extends 'base.html' %}

{% block content %}

<head>
    {% include 'django_quill/media.html' %}
</head>
    <div class="newsletter authy">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Send Newsletter</h3>
                {% for field in form %}
                <div vlass="form-group">


                 <span class="err">{{field.errors}}</span>
                 {{field.label_tag}}
                 {{field}}
                 {% if field.help_text %}
                 <small class="help" style="font-size: 13px; color: red;">{{ field.help_text|safe }}</small>
                 {% endif %}
                  </div>

                 {% endfor %}

    
            <input type="submit" value="Send Letter">
            
        </form>
    </div>


{% endblock content %}