{% extends 'base.html' %} {% load static %} {% block content %}

<div id="login-register-form">
  {% if page == 'register' %}
  <div>
    <form action="" method="post">
      {% csrf_token %}
      <h3>Register with us</h3>

      <div class="register-form-fields">
        {% for field in form %}
        <label for=""> {{field.label_tag}} {{field}} </label>

        {% endfor %}
      </div>

      <ul>
        <li>
          <input type="submit" value="Sign Up" />
          <p>
            I am registered
            <i>
              <a href="{% url 'login' %}"
                >Login</a
              ></i
            >
          </p>
        </li>
      </ul>
    </form>
  </div>
  {% else %}
  <div>
    <form action="" method="post" class="forms">
      {% csrf_token %}

      <h3>Login</h3>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" />

      <label for="pwd">Password:</label>
      <input type="password" name="password" id="pwd" />

      <div>
        <input type="submit" value="Login" />
        <p>
          I am not registered
          <a href="{% url 'register' %}"
            ><i>Sign Up</i></a
          >
        </p>
      </div>
      <div>
        <a href="{% url 'password_reset' %}" class="forgot-pwd"><i>Forgot Password?</i></a>
      </div>
    </form>
  </div>
  {% endif %}
</div>

{% endblock content %}
