{% extends 'base.html' %} {% block content %}
  <div class="authy">
    <div class="card-header justify-content-center" >
      <div id="error_div"></div>
    </div>
    {% if form.errors %}
    <div role="alert">
      <div id="form_errors">
        {% for key, value in form.errors.items %}
        <strong>{{ value }}</strong>
        {% endfor %}
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <div class="card-body">
      <form method="POST" class="form">
        <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
  
        {% csrf_token %}
  
      
            <label class="small mb-1" for="id_email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              autocomplete="email"
              maxlength="254"
              required
              id="id_email"
              placeholder="Enter email"
            />
         
            <input type="submit" value="Submit" />
    
       <div>
        <div class="small">
          <a href="{% url 'register' %}"><i>
            Create A New Account
          </i></a
            >
          <a href="{% url 'login' %}"><i>
            Back To Login
          </i></a>
        </div>
       </div>
      </form>
    </div>
  </div>
{% endblock content %}
