
{% extends 'base.html' %}
{% load static %}

{% block title %}Dokto | Setting{% endblock title %}

{% block content %}
<div class="setting-form-container authy">
  <form action="" method="post" enctype="multipart/form-data">
    <h3>Edit Your Profile</h3>

    {% csrf_token %}
    <div class="image" style="text-align: center">
      
      <img
        src="{{user.avatar.url}}"
        alt=""
        width="150"
        height="150"
        style="border-radius: 50%"
      />
      <img src="" 
          alt=""
          id="avatar-preview"
          width="150"
          height="150"
          style="border-radius: 50%"
          />
    </div>

    <div class="settings-form-fields">
      {% for fields in form %}
     <div class="form-group">
      {{fields.label_tag}}
      {{fields}}
     </div>
      {% endfor %}
    </div>
    
    <input type="submit" value="Save Changes" />
    
    </div>
  </form>
</div>
{% endblock content %}


