{% load static %}

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"
    type="image/x-icon">
    {% include 'django_quill/media.html' %}

    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/preload.css' %}" />

    <title>{% block title %} {% endblock title %}</title>
    {% if post.id %}
    <title>{{post.topic.title}}</title>
    <meta property="og:title" content="{{post.topic.title}}">
    <meta name="description" property="og:description" content="{{post.overview.html|safe|striptags|truncatewords:20}}">
    <meta property="og:image" content="{{post.image.url}}">
    <meta property="og:image:alt" content="{{post.topic.subtitle}}">
    <meta property="og:url" content="https://www.dokto.com.ng/post/{{post.id}}">
    <meta property="og:type" content="article" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="270" />

    <meta name="twitter:image" content="{{post.image.url}}">
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}
  </head>

  <body>
    {% include "preload.html" %}
    {% include 'navbar.html' %} {% include 'messages.html' %}

    <main>{% block content %} {% endblock content %}</main>


    <script src="{% static 'js/hamburger.js' %}"></script>
    <script src="{% static 'js/mode.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/edits.js' %}"></script>
    <script src="{% static 'js/chats.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static "js/previewImage.js" %}"></script>   
    <script src="{% static "js/previewAvatar.js" %}"></script>
    <script src="{% static 'js/floatedForm.js' %}"></script>
    <script src="{% static 'js/preload.js' %}"></script>
    <script src="{% static 'js/hideMessages.js' %}"></script>
    <script src="{% static "js/htmx.min.js" %}"></script>
    <script src="{% static 'js/deleteComment.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>



    <script>
      document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'; // add a new header into the request
    });
    </script>
  </body>
</html>
