{% load static %}
<header>
    <div class="navbar">
        <div class="page-logo">
           
            <a href="{% url 'home' %}" class="nav-brand">
                <div class="icon">
                    <img src="{% static 'images/pill.png' %}" alt="">
                </div>
                     Dokto
            </a>

        </div>
        <ul class="menu">
            <ul class="menu-item">
                <li class="nav-items"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                {% comment %} <li class="nav-items"><a href="{% url 'about-me' %}" class="nav-link">About</a></li> {% endcomment %}
                <li class="nav-items "><a href="{% url 'booking' %}" class="nav-link btn" style="display: flex; gap: 10px"><i class="fa fa-book"></i>Book Appointment</a></li>
                <li class="nav-items"><a href="{% url 'contact-us' %}" class="nav-link btn" style="display: flex; gap: 10px"><i class="fa fa-address-book"></i> Contact Us </a></li>

            </ul>
            <ul class="menu-item">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'profile' request.user.username %}"><img src="{{request.user.avatar.url}}" alt="" width="30" height="30"></a> </li>
                <ul class="hide-wrapper">
                <li class="nav-items hide"><a href="{% url 'logout' %}" class="nav-link" style="display: flex; gap: 10px"> <i class="fa fa-sign-out"></i>Logout</a></li>
                <li class="nav-items hide"><a href="{% url 'settings' request.user.username %}" style="display: flex; gap: 10px" class="nav-link"> <i class="fa fa-cog"></i>Settings</a></li>
                </ul>
                <li class="nav-items"><li class="nav-link"><i class="fa fa-caret-down"></i></li></li>

                {% else %}
                <li class="nav-items"><a href="{% url 'login' %}" style="display: flex; gap: 10px" class="nav-link"> <i class="fa fa-key"></i> Sign Up/Login</a></li>
                {% endif %}              
            </ul>
        </ul>

        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>

    <div class="head-section">
       
    </div>
    <div class="social-nav">
        <div class="mode" id="mode">
            <i class="fa-solid fa-moon" aria-hidden="true"></i>
            <i class="fa-solid fa-sun" aria-hidden="true"></i>
        </div>

        <a href="//web.facebook.com/adekunlejemeel">
        <i class="fa-brands fa-facebook" aria-hidden="true"></i>
            
        </a>
        <a href="//twitter.com/Sadique42469433">
            <i class="fa-brands fa-twitter"  aria-hidden="true"></i>

        </a>
        <a href="//www.linkedin.com/in/jemeel-sadique-a0b465260/">
            <i class="fa-brands fa-linkedin" aria-hidden="true"></i>

        </a>
        
        <a href="//wa.link/bu84d9"> <i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
        <a href="//www.instagram.com/sadiquejemeel/">
        <i class="fa-brands fa-instagram" aria-hidden="true"></i>

        </a>
    </div>
</header>
