{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"
    type="image/x-icon">
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/preload.css' %}" />
    <title>{% block title %} Dokto Blogs {% endblock title %}</title>

</head>

<body>
    {% include "preload.html" %}  
    {% include "navbar.html" %}
   {% block blog %}
   
    <div class"blogs">
      {% include 'base/feed.html' %}
    </div>


   {% endblock blog %}

   <footer>
    {% include 'footer.html' %}

   </footer>




    <script src="{% static 'js/carousels.js' %}"></script>
    <script src="{% static 'js/hamburger.js' %}"></script>
    <script src="{% static 'js/mode.js' %}"></script>
    <script src="{% static 'js/edits.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/preload.js' %}"></script>


     <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/654c8d89f2439e1631ed6881/1hepghopc';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

    
</body>
</html>