<form hx-post="{% url 'post' post.id %}" hx-swap="afterbegin" hx-trigger="submit"  hx-target = "#comment-list" hx-on::after-request="this.reset()" class="form" >
    {% if request.user.is_authenticated %}
    <h3>Leave a comment*</h3>
    {% else %}
    <h3 style="" aria-label="required"><em><a style="color: var(--tertiary-bg)" href="{% url "login" %}">Sign In*</a></em> to leave a comment</h3>
    {% endif %}
            
    <textarea name="body" id="form-control" required></textarea>
        
    <input type="submit" id="comment-submit-button" value="Post Comment">
</form>
