{% extends 'base.html' %}


{% block content %}

  
<div class="create-update-container">
    {% if page == 'create-post' %}
    <form action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     <h3>Create Post</h3>
 
         
             <label for="topic">Topic:</label>
             <input type="text" name="topic" id="topic" list='topic-list' value={{post.topic.title}}>
             <datalist id="topic-list">
                 <select name="" id="topic">
                 {% for topic in topics %}
                     <option value="{{topic.title}}">{{topic.title}}</option>
                 {% endfor %}
                 </select>
             </datalist>
            
                 <label for="id_heading">Headline:</label>
                 {{form.headline}}
            
                 <label for="id_body">Body:</label>
                 {{form.body}}
            
                 <label for="id_image">Image:</label>
                 {{form.image}}
            
                 <input type="submit" value="Create Post">
             
     
    </form>
 
    {% else %}
 
    <form action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     <h3>Update Post</h3>
 
         <ul>
            <li>
             <label for="topic">Topic:</label>
             <input type="text" name="topic" id="topic" list='topic-list' value="{{post.topic.title}}">
             <datalist id="topic-list">
                 <select name="" id="topic">
                     {% for topic in topics %}
                     <option value="{{topic.title}}">{{topic.title}}</option>
                     {% endfor %}
                 </select>
             </datalist>
            </li>      
             <li>
                 <label for="id_heading">Heading:</label>
                 {{form.heading}}
             </li>
             <li>
                 <label for="id_body">Body:</label>
                 {{form.body}}
             </li>
             <li>
                 <label for="id_image">Image:</label>
                 {{form.image}}
             </li>
 
             <li>
                 <input type="submit" value="Update Post">
             </li>
         </ul>
     
    </form>
    {% endif %}
</div>


{% endblock content %}