{% load static %}

<div id="feed-container">
  <div class="feed">
    <div class="h1">
      <h1>Dokto Blogs</h1>
        <i class="fa fa-search" role="search"></i>
    </div>
    <div class="screen">
        <div class="container" data-autoplay="true">
            {% for post in posts %}

            <div class="slide">
              <img src={{post.image.url}} alt="">
            </div>
            {% endfor %}

            <button class="prev" onclick="prev()">
              <i class="fa fa-angle-left"></i>
            </button>
            <button class="next" onclick="next()">
            <i class="fa fa-angle-right"></i>
            </button>
        </div>
        <div class="dots_container" id="indicator"></div>
    </div>

    <div class="blog-post">
      {% if posts %}
        {% for post in posts %}
        {% include "base/posts.html" %} 
        {% endfor %}
        {% else %}
        <p>No Post For That Topic Yet</p>
      {% endif %}                       
    </div>

    <div class="sidebar">
     <div class="topic-menu-container">
      <div class="hamburger topic-hamburger">
        <span class="bar topic-bar"></span>
        <span class="bar topic-bar"></span>
        <span class="bar topic-bar"></span>
      </div>
      <span>TOPIC MENU</span>
     </div>

        <div class="topics" id="topics">
        <h2>Blog Topics</h2>
        <h3>
            <a href="{% url 'blog' %}">All</a>
        </h3>
        {% for topic in topics %}
        <h3>
            <a href="{% url 'blog' %}?q={{topic.title}}">
              {% for p in topic.post_set.all %}
             {{p.headline}}
              {% endfor %}
             </a> 
            <span>{{topic.post_set.count}}</span>
         </h3>
        {% endfor %}    
      </div>
    </div>

    {% include "base/rightbar.html" %}

    <div class="footers">
    </div>
  </div>
</div>
