{% load static %}

<div id="feed-container">
  <div class="feed">
    <div class="h1">
      <h1>Dokto Blogs</h1>
    </div>
    <div class="screen">
        <div class="container" data-autoplay="true">
            <div class="slide">
              <img src="{% static "images/hosp1.jpg" %}" alt="img1">
            </div>
            <div class="slide">
            {% for post in posts %}
              <img src="{{post.image.url}}" alt="">
            {% endfor %}
            </div>

            <button class="prev" onclick="prev()">
              <i class="fa fa-angle-left"></i>
            </button>
            <button class="next" onclick="next()">
            <i class="fa fa-angle-right"></i>
            </button>
        </div>
        <div class="dots_container" id="indicator"></div>
    </div>

    <div class="blog-post">
        {% include "base/posts.html" %}                        
    </div>

    <div class="sidebar">
      <div class="hamburger topic-hamburger">
        <div class="bar topic-bar"></div>
        <div class="bar topic-bar"></div>
        <div class="bar topic-bar"></div>
      </div>


      <div class="topics" id="topics">
        <h2>Blog Topics</h2>
        <h3>
            <a href="{% url 'blog' %}">All</a>
            <span>{{posts.all.count}}</span>
        </h3>
        {% for topic in topics %}
        <h3>
            <a href="{% url 'blog' %}?q={{topic.title}}">{{topic.title}} </a> 
            <span>{{topic.post_set.count}}</span>
         </h3>
        {% endfor %}
       
      </div>
    </div>

    <div class="rightbar">
      <div class="health-tips">
        <h2> <span><img src="{% static "images/ht.png" %}" alt=""></span></h2>
        <div class="heading">
          <h3>Looking for ideas to keep your child engaged?</h3>
          <h4>Here are tips to help them learn, grow and connect with you <i class="fa fa-heart"></i></h4>
        </div>
        <ul class="health-tip-lists">
          <li> Tap along</li>
          <li> Chit Chat</li>
          <li> Tap along</li>
          <li> Reach Reach Reach</li>
          <li>Go exploring</li>
        </ul>
       
      </div>
      <div class="advert">
        <div class="advert-wrapper">
          <small>Advertise here</small>
        </div>
      </div>
    </div>

    <div class="footers">
    </div>
  </div>
</div>
