{% load static %}

 <div class="hero-section">
  <div class="hero-page" id="hero-page">
     <div class="hero-page-wrapper">
      <div class='hero' >
        <h1> Welcome to Dokto medics </h1> 
        <h3>We are a group of talented medical professionals</h3>
        <h2>Bringing Safe, Easy and Secure Online Health Care Delivery 
          To Your Doorstep
        </h2>
        <a
          href=""
          class="typewrite"
          data-period="2000"
          data-type='[ "Online Consultation","Home Care Services",  "Laboratory Services", "Free Medical Counselling" ]'
        >
          <span class="wrap"></span>
        </a>
      </div>
      {% comment %} <div id="scene-box">
            <img src="{% static "images/onlinedr.png" %} " alt="hero-image" class="scroll-element js-scroll fade-in">
      </div> {% endcomment %}
     </div>

      <div class="blog">
        <p><a href="{% url 'blog' %}">GO TO BLOG <i class="fa fa-arrow-right "></i></a></p>
      </div>
  </div>
</div>


