{% load static %}

 <div class="hero-section">
  <div class="hero-page">
     <div class="hero-page-wrapper">
      <h2 >
        <strong> Welcome to My Dokto </strong> 
        <span>Bringing Safe, Easy and Secure <br/> Online Health Care <br/> Delivery To Your Doorstep</span>
        <a
          href=""
          class="typewrite"
          data-period="2000"
          data-type='[ "Online Consultation","Home Care Services",  "Laboratory Services", "Free Medical Counselling" ]'
        >
          <span class="wrap"></span>
        </a>
      </h2>
      <div id="scene-box">
            <img src="{% static "images/onlinedr.png" %} " alt="hero-image" class="scroll-element js-scroll fade-in">
      </div>
     </div>

      <div class="blog">
        <p><a href="{% url 'blog' %}">GO TO BLOG <i class="fa fa-arrow-right "></i></a></p>
      </div>
  </div>
</div>


