{% extends "base.html" %}
{% comment %} {% load markdown_extras %} {% endcomment %}



{% load static %}
{% block content %}

<div class="post-detail-view" >
    <div class="main-content">
        <div class="post-image">
            <img src="{{post.image.url}}" alt="">
            <span class="manage-post">
                <i class="fa fa-edit"></i>
                <i class="fa fa-multiply"></i>
            </span>
        </div>
        <div class="Post-details">
            <div class="Post-categories">
                {% for categories in post.categories.all %}
                <span>{{categories.title}}</span>
                {% endfor %}
            </div>
            <div class="post-info">
                <div class="Post-author">Author: <span>{{post.owner.name}}</span></div>
                <div class='Post-date'>{{post.published_at | timesince}} ago</div>
            </div>
            <div class="post-title">
                {{post.topic.title}}
            </div>
            <div class="overview ">
                {{post.overview | safe}}
            </div>
            <div class="Post-description">
                {{post.body | safe}}
            </div>
        </div>
    </div>
    {% include "base/rightbar.html" %}

    

</div>

{% endblock content %}