{% extends "base.html" %}
{% block title %}{{post.topic.title}}{% endblock title %}
{% load static %}

{% load social_share %}

{% block content %}

<div class="post-detail-comments">
    <div class="post-detail-view">
        <div class="main-content">
            <div class="post-image">
                <img src="{{post.image.url}}" alt="">
                {% if request.user.is_staff %}
                <span class="manage-post">
                    <a href="{% url "update-post" post.id %}"><i class="fa fa-edit"></i></a>
                    <a href="{% url "delete-post" post.id %}"><i class="fa fa-multiply"></i></a>
                </span>
                {% endif %}
            </div>

            <div class="Post-details">
                <div class="Post-categories">
                    {% for categories in post.categories.all %}
                    <span>{{categories.title}}</span>
                    {% endfor %}
                </div>
                <div class="post-info">
                    <div class="Post-author">Author: <span>{{post.owner.name}}</span></div>
                    <div class='Post-date'>{{post.published_at | timesince}} ago</div>
                </div>
                <div class="post-title">
                    <h1>{{post.topic.title}}</h1>
                </div>
                <div class="overview ">
                    {{post.overview.html | safe}}
                </div>
                <h2>
                    {{post.topic.subtitle}}
                </h2>
                <div class="Post-description">
                    {{post.body.html | safe}}
                </div>
                <div class="likes-btn">
                    {% include "base/post-likes.html" %}
                </div>
            </div>
        </div>
        <div class="rightbar-content">
            {% include "base/rightbar.html" %}
        </div>


    </div>

    <div id="social-share">
        <div class="share">Share <i class="fa fa-share"></i></div>
        <div class="social-share-icons">

            <span>
                {% post_to_facebook object_or_url '<i class=" fab fa-facebook fa-2x"></i>' %}
            </span>

            <span> 
               {% post_to_twitter "New Post: {{post.headline}}. Check it out!" object_or_url '<i class="fa-brands fa-twitter fa-2x"></i>' %}
            </span>

            <span>
                {% post_to_whatsapp object_or_url '<i class="fa-brands fa-whatsapp fa-2x"></i>' %}
            </span>

            <span>
            {% post_to_linkedin  object_or_url  %}
            </span>
        </div>
    </div>
    <div class="post-comments-view">
        {% include "base/comments.html" %}
    </div>
</div>

{% endblock  %}