{% load static %}

<form action="" method="POST" enctype="multipart/form-data" class="postForm">
    {% csrf_token %}
    <h3>{{page_title_content}}</h3>

   <div class="form-group topic">
    <label for="topic">Topic:</label>
    <input type="text" name="topic" id="topic" list='topic-list' value={{post.topic.title}}>
    <datalist id="topic-list">
      <select name="" id="topic">
        {% for topic in topics %}
          <option value="{{topic.title}}">{{topic.title}}</option>
        {% endfor %}
      </select>
    </datalist>
   </div>

  <div class="form-group subtitle">
    <label for="subtitle">Subtitle:</label>
    <input type="text" name="subtitle" id="subtitle" list='subtitle_list' value={{post.topic.subtitle}}>
    <datalist id="subtitle_list">
      <select name="" id="subtitle">
        {% for topic in topics %}
          <option value="{{topic.subtitle}}">{{topic.subtitle}}</option>
        {% endfor %}
      </select>
    </datalist>
  </div>

   <div class="form-group category">
    <label for="category">Category</label>
    <input type="text" name="category" id="category" list='category_list' value={{post.categories.title}}>
    <datalist id="category_list">
      <select name="" id="category" multiple="multiple">
        {% for category in categories %}
          <option value="{{category.title}}">{{category.title}}</option>
        {% endfor %}
      </select>
    </datalist>
    
   </div>

  <div class="form-group headline">
    <label for="id_headline">Headline:</label>
    {{form.headline}}
  </div>
 
  <div class="form-group overview">
    <label for="id_body">Overview:</label>
    {{form.overview}}
  </div>
   
  <div class="form-group body">
    <label for="id_body">Body:</label>
    {{form.body}}  
  </div>

  <div class="form-group image">
    <label for="id_image"><span></span></label>
    {{form.image}}
    <div class="img-box">
      <img src="" alt="" id="file-preview">
      {{form.image.path}}
    </div>
  </div>

    <input type="submit" value="{{button_text}}">

</form>