<div class="comment">
   
    <form action="" method="post" class="form">
        <h3 style="">Leave Comment</h3>
        
            {% csrf_token %}
        
        <textarea name="body" id="form-control"></textarea>
            
        <input type="submit" value="Post comment">
        
       
    </form>

    {% for comment in post_comment %}
    <div class="comment-box">
        <div>
            <a href="{% url 'profile' comment.sender.username %}"><img src="{{comment.sender.avatar.url}}" alt="" width="30" height="30" style="border-radius:50%"></a>
        </div>
        <div class="user-comment">
            <a href="{% url 'profile' comment.sender.username %}">@{{comment.sender.username}}</a> 
            <span><small> commented {{comment.created_at| timesince}} ago</small></span>
            <div class="comment-reply-box">
               <div class="comment-body">
                <p >
                    {{comment.body}}
                </p>
                {% if request.user.is_superuser %}
                <p>
                    <a href="{% url 'replies' comment.id %}">Reply</a>
                </p>
                {% endif %}
               </div>
               {% for reply in comment.commentreply_set.all %}
               <div class="reply-body">
                {% if reply != None %}
                <div>
                <a href="{% url 'profile' reply.replier.username %}">@{{reply.replier.username}}</a>
                <span> replied {{reply.created_at | timesince}} ago</span>
                </div>
                {{reply.body}}
                {% endif %}
               </div>

               {% endfor %}
            </div>
        </div>
        
       </div>
        {% endfor %}
    </div>
</div>