{% load static %}

<div class="rightbar">
    <div class="health-tips">
      <h2> <span><img src="{% static "images/ht.png" %}" alt=""></span></h2>
      <div class="heading">
        <h3>Looking for ideas to keep your child engaged?</h3>
        <h4>Here are tips to help them learn, grow and connect with you <i class="fa fa-heart"></i></h4>
      </div>
      <ul class="health-tip-lists">
        <li> Tap along</li>
        <li> Chit Chat</li>
        <li> Tap along</li>
        <li> Reach Reach Reach</li>
        <li>Go exploring</li>
      </ul>
     
    </div>
    <div class="advert">
      <div class="advert-wrapper">
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit reprehenderit
           officiis fugit sunt deleniti quos culpa hic sint consequuntur voluptates.
        </small>
      </div>
    </div>
  </div>