{% load static %}

<!-- ======= Services Section ======= -->
<div id="services" class="services">
  <div class="containers scroll-element js-scroll fade-in" data-aos="fade-up">
    <div class="section-title">
      <div class="h2">
        <h2>Available Services</h2>
      </div>
      <p class="text-center">
        Getting unwell is a vexation, but having access to quality care shouldn't be. <br/>
        Dokto Medics provides pre-eminent online health services in Nigeria. Try out our services below
      </p>
    </div>

      <div class="services-demo">
        <div class="services-demo-image scroll-element js-scroll slide-left">
          <img src="{% static "/images/fdr.jpg" %}" alt="">
        </div>
        <div class="service-demo-statement">
          <p>
            Welcome to the world of DOCTO MEDICS, a fast, reliable and uncomplicated medical platform, 
            that provides you affordable access to authorised medical professionals from within
             Naija
          </p>
          <p>
            We allow you to have either video, voice or chat consultations via your mobile
             phones/tablets over the Internet with medical practitioners via WhataApp 
             <a href="https://wa.link/bu84d9" style="color: green"> <i class="fa-brands fa-whatsapp"></i></a>
          </p>
        </div>
      </div>


    <div class="service-box">

      <div class="box-container">
        <div class="col-lg-4 col-md-6 icon-box  scroll-element js-scroll fade-in "
          data-aos="zoom-in"
          data-aos-delay="100">
          <div class="icon"><i class="fa-solid fa-user-doctor fa-beat"></i></div>
          <h4 class="title"><a href="">Online Consultation</a></h4>
          <p class="description">
           Connect to Doctors, Nurses, and Midwives  <br>
           Connect to them through chats and calls
          </p>
        </div>
        <div class="services-image scroll-element js-scroll slide-left">
          <img src="{% static "/images/consult4.avif" %}" alt="consult">
        </div>
      </div>

      <div class="box-container reverse">
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="zoom-in"
          data-aos-delay="200">
          <div class="icon">
            <i class="fa-solid fa-truck-medical" ></i>
          </div>
          <h4 class="title"><a href="">Home Care</a></h4>
          <p class="description">
            Our experienced and friendly team are passionate about our care at home services.
              We help and support our patients to continue living healthy lives in the comfort and familiarity of their own homes.
        
          </p>
        </div>
        <div class="services-image scroll-element js-scroll slide-left">
          <img src="{% static "/images/homecare.jpg" %}" alt="">
        </div>
      </div>

      <div
        class="box-container  scroll-element js-scroll slide-right">
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="zoom-in"
          data-aos-delay="300">
          <div class="icon"><i class="fa-solid fa-briefcase-medical fa-beat"></i></div>
          <h4 class="title"><a href="">Laboratory services</a></h4>
          <p class="description">
            Available laboratory sevices are Haematology, Microbiology, Blood Chemistry and Radiology etc <br>
            These services are currently accessible only in Ilorin, Kwara State.
          </p>
        </div>
        <div class="services-image scroll-element js-scroll slide-left">
          <img src="{% static "/images/lab.jpg" %}" alt="lab-image">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Services Section -->

