{% load static %}
 <div id="doctors" class="doctors section-bg scroll-element js-scroll fade-in-bottom">
    <div class="container">

      <div class="section-title" >
        <div class="h2">
        <h2>Doctors</h2>
        </div>
        <p class="text-center">
          See a doctor online to skip travelling and waiting in queues for your diagnosis. At Dokto, we have a 
          network of qualified medical professionals ready to streamline secondary care options
           for patients. Book an online doctor appointment with us today to connect with a Doctor at your convenience.
        </p>
      </div>

      <div class="doctors-demo">
        <div class="doctors-demo-image">
          <img src="{% static "images/team.jpg" %}" alt="doctor-demo-jpg">
        </div>
        <div class="doctors-demo-statement">
          <p>
            Our doctors and medical team are available to you 24/7
             to provide the care you need and to answer any questions you may have about your health.
          </p>
        </div>
      </div>

      <div class="row doctors-wrapper">
        {% for staff in staffs %}
        <div class="">
          <div class="member scroll-element js-scroll slide-left delay-1">
            <div class="member-img">
              <img src={{staff.avatar.url}} alt="">
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Dr {{staff.name}} (MD)</h4>
              <span>{{staff.profession}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
