{% load static %}
<!-- ======= Doctors Section ======= -->
 <article id="doctors" class="doctors section-bg scroll-element js-scroll fade-in-bottom">
    <div class="container" data-aos="fade-up">

      <div class="section-title" >
        <div class="h2">
        <h2>Doctors</h2>
        </div>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row doctors-wrapper">

        <div class="">
          <div class="member scroll-element js-scroll slide-left delay-1">
            <div class="member-img">
              <img src=" {% static 'images/dr1.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Medical Officer</span>
            </div>
          </div>
        </div>

        <div class="">
          <div class="member scroll-element js-scroll slide-left delay-2">
            <div class="member-img">
              <img src=" {% static 'images/dr2.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Anesthesiologist</span>
            </div>
          </div>
        </div>

        <div class="">
          <div class="member scroll-element js-scroll slide-right delay3">
            <div class="member-img">
              <img src=" {% static 'images/dr3.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Cardiology</span>
            </div>
          </div>
        </div>

        <div class="">
          <div class="member scroll-element js-scroll slide-right delay-4">
            <div class="member-img">
              <img src=" {% static 'images/dr4.webp' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Neurosurgeon</span>
            </div>
          </div>
        </div>

      </div>

    </div>
</article><!-- End Doctors Section -->