<title>Online Booking</title>
{% extends 'base.html' %}
 {% load static %}
  {% block content %}

<article>
  {% if user.is_authenticated %}

  <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5">
    <form method="post" action="{% url 'booking' %}" style="margin: auto" required>
      <h3 class="text-center mt-3">Book An Appointment</h3>

      {% csrf_token %}
    <ul>
      <!--input service-->
        <li>
            <label class="">Service:</label>
            <select class="form-select fs-3" name="service">
              <option value="Consultaion">Consultaion</option>
              <option value="Nursing care">Nursing care</option>
              <option value="Medical social services">
                Medical social services
              </option>
              <option value="Homemaker or basic assistance care">
                Homemaker or basic assistance care
              </option>
            </select>
        </li>
          <!--input day-->
        <li class="mt-3">
        <label class="">Day:</label>
        <select class="form-select fs-3" name="day">
          {% for validateWeekday in validateWeekdays %}
          <option value="{{validateWeekday}}">{{validateWeekday}}</option>
          {% endfor %}
        </select>
        </li>
       
        <li>
            <input
          type="submit"
          class="btn btn-primary text-white"
          value="Continue"
        />
        </li>
    </ul>
    </form>
  </div>

  {% else %}

  <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5">
   <form action="" style="margin: auto">
    <h3 class="p-2 me-3">You Are Not Signed in!</h3>
    <a href="{% url 'login' %}" class=""> <input type="button" value="Sign in"> </a
    >
  </div>
   </form>

  {% endif %}
</article>

{% endblock content %}
