<title>Online Booking</title>
{% extends 'base.html' %}
 {% load static %}
  {% block content %}

<div class="booking">
  {% if user.is_authenticated %}

  <div>
    <form method="post" action="{% url 'booking' %}" required>
      <h3 class="text-center mt-3">Book An Appointment</h3>

      {% csrf_token %}
    
            <label for="service">Service:</label>
            <select class="form-select fs-3" name="service" id="service">
              <option value="Consultaion">Consultaion</option>
              <option value="Nursing care">Nursing care</option>
              <option value="Medical social services">
                Medical social services
              </option>
              <option value="Homemaker or basic assistance care">
                Homemaker or basic assistance care
              </option>
            </select>
       
        <label for="day">Day:</label>
        <select class="form-select fs-3" name="day" id="day">
          {% for validateWeekday in validateWeekdays %}
          <option value="{{validateWeekday}}">{{validateWeekday}}</option>
          {% endfor %}
        </select>
       
            <input
          type="submit"
          value="Continue"
        />
       
    </form>
  </div>

  {% else %}

  <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5">
   <form action="" style="margin: auto">
    <h3 class="p-2 me-3">You Are Not Signed in!</h3>
    <a href="{% url 'login' %}" class=""> <input type="button" value="Sign in"> </a
    >
  </div>
   </form>

  {% endif %}
</article>

{% endblock content %}
