<title>Online Booking</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}


<class="booking">
    

{% if request.user.is_authenticated %}

<div>
    <form method="post" action="{% url 'bookingSubmit' %}"required>
<h3 class="text-center  mt-3">Book An Appointment</h3>

        {% csrf_token %}
        
            <label for="time">Time:</label>
            <select class=" text-center" name="time" id="time">
                {% for time in times %}
                <option value="{{time}}">{{time}}</option>
                {% endfor %}
            </select>

            <label for="phone">Phone Number:</label>
            <input type="tel" name="phone" id="phone" reqiured>
    
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message (optional..)"></textarea>

            <input type="submit" class="btn btn-primary text-white mt-3 fPersian" value="Submit">

    </form>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
    <h1 class="p-2  me-3">First Sign in!</h1>
    <a href="{% url 'login' %}" class="btn btn-primary text-white">Sign in</a>
</div>

{% endif %}
</class=>


{% endblock content %}