{% extends 'base.html' %}



{% block title %}Edit Appointment{% endblock title %}

 {% load static %}
 
{% block content %}

{% if user.is_authenticated %}

<div>
  <form
    method="post"
    action="{% url 'userUpdateSubmit' request.user.id %}"
    class="me-2 ms-2"
    required
  >
<h3>Edit Appointment</h3>

    {% csrf_token %}

    <!--input time-->
    
        <label for="time">Time:</label>

        <select class="form-select" name="time" id="time">
          {% for time in times %}
          <option value="{{time}}">{{time}}</option>
          {% endfor %}
        </select>
    
        <label for="phone">Phone Number:</label>
        <input type="tel" name="phone" id="" reqiured />
     
        <textarea name="message" id="" cols="30" rows="10">Message (optional..)</textarea
        >
      
        <input type="submit" value="Submit">
     
  </form>
</div>

{% else %}

<div>
  <h1>First Sign in!</h1>
  <a href="{% url 'login' %}">Sign in</a>
</div>

{% endif %}
 {% endblock %}
