<title>Edit Appointment</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}



<article>
{% if user.is_authenticated %}
<!--if 24hrs before nobat-->
{% if delta24 == True %}
<h1 style="text-align: center;">Edit Appointment</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'userUpdate' id %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input service-->
        <div>
            <h3 class="">Select Service:</h3>
            <select class="form-select fs-3" name="service">
                <option value="Consultation">Consultation</option>
                <option value="Nursing care">Nursing care</option>
                <option value="Medical social services">Medical social services</option>
                <option value="Homemaker or basic assistance care">Homemaker or basic assistance care</option>
            </select>
        </div>
            <!--input day-->
            <div class="mt-3">
                <h3 class="">Select Day:</h3>
                <select class="form-select fs-3" name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Continue</button>
        </div>
    </form>
</div>
<!--else if its 24hrs before editing-->
{% else %}
<form action="" style="margin: auto; background: transparent" >
    
<div>
    <h1 style="text-align: center; color: red">Editing Appointments Is Only Available 24hrs Before Appointment!</h1>
    <a href="{% url 'profile' request.user.username %}" ><input type="button" value="Return To Profile Page"></a>
</div>
</form>

{% endif %}


{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'register' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}

</article>
{% endblock %}